$contact-list-color-hover: #292929;
$contact-list-color-active: #292929;

$contact-list-background-hover: #f7f7f7;
$contact-list-background-active: $color-accent-background;

// ------------ CHAT LIST ------------ //

.chats_list {
	width: 100%;
	height: 100%;

	padding-inline: 5px;

	display: flex;
	flex-direction: column;
	overflow: auto;

	// chats_list__item
	&__item {
		width: 100%;
		padding: 12px 20px;
		border-radius: .5rem;
		cursor: pointer;

		transition: backgroundColor .15s ease;

		display: flex;
		align-items: center;
		gap: 1rem;

		user-select: none;


		&:not(&-skeleton):not(&-active):hover {
			color: $contact-list-color-hover;
			background-color: $contact-list-background-hover;
		}

		&-active {
			color: $contact-list-color-active;
			background-color: $contact-list-background-active;
		}

		&-skeleton {
			flex-direction: column;
			gap: .5rem;
		}

		// inner content
		& .content {
			display: flex;
			flex-direction: column;
			gap: .5rem;

			& .message {
				width: 100%;

				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
						line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}
	}
}

// ------------ CHAT CONTAINER ------------ //

.chat_container {
	width: 100%;
	height: 100%;

	&__messages {
		padding: .5rem;
		margin: 0 auto;

		height: 100%;
		width: 100%;
		max-width: 750px;

		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
		gap: .25rem;
	}
}

.chat_message {
	padding: .5rem;

	max-width: 350px;

	border-radius: .5rem;
	background-color: $contact-list-background-hover;

	&-own {
		margin-left: auto;
		background-color: $contact-list-background-active;
	}

	&__content {

	}
}