$contact-list-color-hover: #292929;
$contact-list-color-active: #292929;

$contact-list-background-hover: #f7f7f7;
$contact-list-background-active: $color-primary;

// ------------ CHAT LIST ------------ //

.chats_list {
	width: 100%;
	height: 100%;

	padding-inline: 5px;

	display: flex;
	flex-direction: column;

	// chats_list__item
	&__item {
		width: 100%;
		padding: 12px 20px;
		border-radius: .5rem;
		cursor: pointer;

		transition: backgroundColor .15s ease;

		display: flex;
		align-items: center;
		gap: 1rem;


		&:not(&-skeleton):hover {
			color: $contact-list-color-hover;
			background-color: $contact-list-background-hover;
		}

		&-active {
			color: $contact-list-color-active;
			background-color: $contact-list-background-active;
		}

		&-skeleton {
			flex-direction: column;
			gap: .5rem;
		}

		// inner content
		& .content {
			display: flex;
			flex-direction: column;
			gap: .5rem;

			& .message {
				width: 100%;

				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
						line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}
	}
}