@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: url(fonts/Roboto-Light.ttf);
}

h1, h2, h3, h4, h5, h6, p, span, div {
	font-family: 'Roboto';
	color: $text-color-primary;
}

.text {
	&-color {
		&-primary { color: $text-color-primary;}
		&-common { color: $text-color-common;}
		&-secondary { color: $text-color-secondary;}
	}
}