// ------ VARIABLES ------ //
@import "default/variables.scss";

// EXAMPLE: Override variables
// @import "dark/variables.scss";

// ------ FONTS ------ //
@import "default/fonts.scss";

// ------ COMPONENTS ------ //
@import "default/components.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

